*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./img/Frost.jpg');
    background-size: cover;
    padding: 40px 0;
    font-family: roboto, sans-serif;
    font-size: 62.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    cursor: default;
}

.top-heading{
    text-align: center;
    color: #000;
    background-color: #fff;
    margin: 30px 0 10px 0;
    border-radius: 20px;
    padding: 10px;
    transition: ease-in-out 0.2s;
}

.top-heading:hover{
    color: #fff;
    background-color: #000;
}

.container{
    width: 260px;
    height: 360px;
    border: 2px solid #969696;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 7rem;
    overflow: hidden;
    cursor: default;
    background-color:rgb(247, 247, 255, 0.3);
}

.img-div{
    height: 160px;
    position: relative;
}

.img-div img{
   width: 300px;
   height: 100%;
   transition: all linear 0.3s;
   margin-bottom: 34px;
}

.img-div h1{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    bottom: 0;
    width: 100%;
}

.img-div h2{
    font-size: 1rem;
    padding: 4px 10px;
    color: rgb(255, 255, 255);
}

.container .buttons{
    display: flex;
    gap: 10px;
}

.buttons button{
    padding: 6px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: dimgrey;
    transition: all linear 0.3s;
}

.buttons button:hover{
    background-color: rgb(44, 44, 44);
}

footer{
    text-align: center;
    font-size: .8rem;
    color: #fff;
}

hr{
    border: 1px solid rgb(247, 247, 255, 0.3);
}